.barra{
  display: flex;
  justify-content: space-evenly;
  height: 10vh;
  background-color: rgb(28, 33, 86);
  color: white;
  align-items: center;
}

.carrito{
  display: flex;
}

.contador{
  background-color: red;
  border-radius: 50%;
  font-size: 1.5vh;
  font-weight: bold;
  height: 2vh;
  width: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.opciones{
  list-style-type: none; 
}

.esconder{
  display: none;
}